@use '../custom' as *;
@use '../mixin' as *;

footer {
  padding-block-start: $padding-section;
  padding-block-end: $padding-section + $padding-section;
  background-color: $dark-100;

  a {
    width: fit-content !important;
  }

  i {
    color: $light-100;
    font-size: 25px;
    position: relative;
    margin-inline: 40px;


    &::before {
      content: '';
      position: absolute;
      width: 50px;
      height: 50px;
      background-color: $main-color;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .facebook:hover::before {
    background-color: #4267B2;
  }

  .instagram:hover::before {
    background-color: #cd486b;
  }

  .whatsapp:hover::before {
    background-color: #128C7E;
  }

  .github:hover::before {
    background-color: #171515;
  }

  .linkedin:hover::before {
    background-color: #0A66C2;
  }
}